#full-page-search form {
  /*background: #fff none repeat scroll 0 0;*/
  border: 0 none;
  color: #000;
  /*float: none !important;*/
  font-size: 24px !important;
  font-weight: 300;
  left: 10%;
  /* margin: -51px auto 0 !important;*/
  outline: medium none;
  padding: 12px 5px;
  position: absolute;
  /* text-align: center;*/
  top: 30%;
  width: 80% !important;
  z-index: 99999999;
}
#full-page-search #full-search-form-result-box {
  height: 15%;
  left: 10%;
  margin-top: 25px;
  overflow: auto !important;
  padding: 20px 10px;
  position: relative;
  top: 50%;
  width: 80%;
}
#get-full-pagesearch-form .form-item-search-keys {
  display: inline;
}
#full-page-search form label {
  display: none !important;
}
#full-page-search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); // dynamic change
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
}

#full-page-search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 0.9;
}

#full-page-search input[type="text"] {
  background: #fff none repeat scroll 0 0;
  border: 0 none;
  color: #000;
  /* float: none !important;*/
  font-size: 24px !important;
  font-weight: 300;
  /* left: 20%;*/
  /* margin: 0px auto !important;*/
  /* margin-top: -51px !important;*/
  outline: medium none;
  padding: 12px 5px;
  /*position: absolute;*/
  /*text-align: center;*/
  /*top: 50%;*/
  width: 78% !important;
}
#full-page-search input[type="submit"] {
  background: limegreen none repeat scroll 0 0 !important;
  border: medium none black !important;
  border-radius: 0 !important;
  height: auto !important;
  padding: 13px 10px !important;
  /* position: absolute;
  right: 23.3%;*/
  text-indent: 0 !important;
  /*top: 42.3%;*/
  width: auto !important;
}
#full-page-search .close {
  background-color: limegreen;
  border: medium none green;
  color: #fff;
  cursor: pointer;
  font-size: 27px;
  padding: 10px 17px;
  position: fixed;
  right: 15px;
  top: 15px;
}

#full-page-search .messages {
  left: 23%;
  position: absolute;
  top: 45%;
  width: 50%;
}

#full-search-form-result-box .search-result-colmn h3 a {
  color: #fff;
  font-family: Open Sans;
  font-size: 30px !important;
  text-decoration: none;
}

#full-search-form-result-box .search-result-colmn {
  border-bottom: 2px dotted #fff;
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  padding: 25px 0;
  text-decoration: none;
}

#full-search-form-result-box .search-result-colmn .content-created-box .user-box {
  margin-right: 20px;
}
#full-search-form-result-box .search-result-colmn .content-created-box .user-box a {
  color: #ccc;
  font-size: 14px;
  text-decoration: none;
}
#full-search-form-result-box .search-result-colmn .content-created-box .date-box {
  color: #ccc;
  font-size: 14px;
  margin-right: 20px;
}

#full-search-form-result-box #full-search-form-result h2 {
  color: #fff;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
#full-search-form-result-box #full-search-form-result ul.pager li a {
  color: #fff;
  font-size: 16px;
}
#full-search-form-result-box #full-search-form-result {
  color: #fff;
  font-size: 16px;
}
#full-search-form-result-box .search-result-colmn .search-desc {
  font-size: 16px;
  padding: 10px 0;
}
#full-page-search.hide {
  display: none;
}
#full-page-search .form-item-search-keys {
  display: inline;
}
@media all and (min-width:320px) and (max-width:767px) {
  #full-page-search input[type='text'] {
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    color: #000;
    font-size: 14px !important;
    font-weight: 300;
    outline: medium none;
    padding: 12px 5px;
    width: 70% !important;
  }
  #full-page-search input[type='submit'] {
    background: limegreen none repeat scroll 0 0 !important;
    border: medium none black !important;
    border-radius: 0 !important;
    font-size: 14px !important;
    height: auto !important;
    padding: 12px 9px !important;
    text-indent: 0 !important;
    width: auto !important;
  }
  #full-page-search form {
    border: 0 none;
    color: #000;
    font-size: 24px !important;
    font-weight: 300;
    left: 3%;
    outline: medium none;
    padding: 12px 5px;
    position: absolute;
    top: 30%;
    width: 95% !important;
    z-index: 99999999;
  }
}
